body{
    color: #1b335f;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    background-color: aqua;
}

button{
    position: relative;
    top: 50%;

}


h1{
    font-family: 'Lobster', cursive;
    font-size: 8rem;
    padding: 4rem;
}
p{
    padding: 2rem 0;
    margin: 3rem 0 0;
}


.holder{
    width: 70%;
    margin: auto;
}


.footer-ico{
    width: 1%;
}

/*@media (max-width: 600px) {*/
    /*.title-img{*/
        /*position: static;*/
        /*transform: rotate(0deg);*/
    /*}*/
    /*#title{*/
        /*text-align: center;*/
    /*}*/